@using carter_bugTracker_1._1.Models
@using carter_bugTracker_1._1.ViewModels
@model carter_bugTracker_1._1.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<style>
    #Submitters > option{
        background-color:aliceblue
    }

</style>

<p>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
@using (Html.BeginForm("ManageProjectUsers", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4 text-center">
            <h2>Project Manger</h2>
            @Html.ListBox("ProjectMangers")
        </div>
       <div class="col-md-4 text-center">
            <h2>Project Manger</h2>
            @Html.ListBox("Developers")
        </div>
        <div class="col-md-4 text-center">
            <h2>Project Manger</h2>
            @Html.ListBox("ProjectMangers")
        </div>
    </div>

        }

        <div>
            <h4>Project</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
